@model SoloCapstone.Models.GoalAndActualModel

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <h2>Goal</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.goal.Monday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Monday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Monday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.Tuesday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Tuesday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Tuesday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.Wednesday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Wednesday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Wednesday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.Thursday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Thursday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Thursday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.Friday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Friday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Friday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.Saturday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Saturday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Saturday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.Sunday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.Sunday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.Sunday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.StartDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.StartDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.goal.EndDate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.goal.EndDate, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.goal.EndDate, "", new { @class = "text-danger" })
        </div>
    </div>
    <h2>Actual</h2>
    <div class="form-group">
        @Html.LabelFor(model => model.actual.Monday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Monday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Monday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actual.Tuesday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Tuesday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Tuesday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actual.Wednesday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Wednesday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Wednesday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actual.Thursday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Thursday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Thursday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actual.Friday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Friday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Friday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actual.Saturday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Saturday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Saturday, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.actual.Sunday, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.actual.Sunday, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.actual.Sunday, "", new { @class = "text-danger" })
        </div>
    </div>
    @Html.HiddenFor(model => model.goal.Id)
    @Html.HiddenFor(model => model.goal.Monday)
    @Html.HiddenFor(model => model.goal.Tuesday)
    @Html.HiddenFor(model => model.goal.Wednesday)
    @Html.HiddenFor(model => model.goal.Thursday)
    @Html.HiddenFor(model => model.goal.Friday)
    @Html.HiddenFor(model => model.goal.StartDate)
    @Html.HiddenFor(model => model.goal.EndDate)
    @Html.HiddenFor(model => model.actual.Monday)
    @Html.HiddenFor(model => model.actual.Tuesday)
    @Html.HiddenFor(model => model.actual.Thursday)
    @Html.HiddenFor(model => model.actual.Wednesday)
    @Html.HiddenFor(model => model.actual.Friday)
    @Html.HiddenFor(model => model.actual.Id)
    @Html.HiddenFor(model => model.actual.GoalFK)
    @Html.HiddenFor(model => model.actual.Goal)
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
    @Html.ActionLink("Back to Analytics", "Index", "ProductionManager")
</div>
