
@{
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/data.js"></script>
<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ' crossorigin='anonymous'>

<div>
    <table align="right">
        <thead>
            <tr>
                <th></th>
                <th><h4 style="text-decoration-line:underline"><b>Hello Milwaukee!</b></h4></th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Todays Forecast : </th>
                <td></td>
                <td><i class='far fa-sun' style='font-size:66px;color:khaki'></i> Sunny</td>
                <td></td>
            </tr>
            <tr>
                <th></th>
                <td><i class='fas fa-temperature-high' style='font-size:48px;color:red'></i></td>
                <td>50 °</td>
            </tr>
        </tbody>
    </table>
</div>

<div>
    <table id="datatable" align="left" style="margin-top:100px;margin-left:90px">
        <thead>
            <tr>
                <th></th>
                <th>*Goal</th>
                <th>*Actual</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Monday</th>
                <td>@ViewBag.Goals.Monday</td>
                <td>@ViewBag.Actuals.Monday</td>
            </tr>
            <tr>
                <th>Tuesday</th>
                <td>@ViewBag.Goals.Tuesday</td>
                <td>@ViewBag.Actuals.Tuesday</td>
            </tr>
            <tr>
                <th>Wednesday</th>
                <td>@ViewBag.Goals.Wednesday</td>
                <td>@ViewBag.Actuals.Wednesday</td>
            </tr>
            <tr>
                <th>Thursday</th>
                <td>@ViewBag.Goals.Thursday</td>
                <td>@ViewBag.Actuals.Thursday</td>
            </tr>
            <tr>
                <th>Friday</th>
                <td>@ViewBag.Goals.Friday</td>
                <td>@ViewBag.Actuals.Friday</td>
            </tr>
        </tbody>
    </table>
    @Html.ActionLink("Edit","Edit","GoalsAndActual", new { id = ViewBag.Goals.Id }, new { @class = "btn btn-primary" })
</div>
<div id="container2"></div>
<div id="container"></div>

<style>
    #container {
        min-width: 320px;
        max-width: 1000px;
        margin: 0 auto;
    }

    #container2 {
        min-width: 320px;
        max-width: 600px;
        margin: 0 auto;
    }
</style>

<script>
    var chart = Highcharts.chart('container', {

        title: {
            text: 'Sales'
        },

        subtitle: {
            text: 'Current Year Sales'
        },

        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },

        series: [{
            type: 'column',
            colorByPoint: true,
            data: [29.9, 71.5, 106.4, 129.2, 144.0, 176.0, 135.6, 148.5, 216.4, 194.1, 95.6, 54.4],
            showInLegend: false
        }]

    });
    var dataChart = Highcharts.chart('container2', {
        data: {
            table: 'datatable'
        },
        chart: {
            type: 'column'
        },
        title: {
            text: 'Current Week Goals'
        },
        yAxis: {
            allowDecimals: false,
            title: {
                text: 'Units'
            }
        },
        tooltip: {
            formatter: function () {
                return '<b>' + this.series.name + '</b><br/>' +
                    this.point.y + ' ' + this.point.name.toLowerCase();
            }
        }
    });
</script>


