<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.LogIn - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <img src="~/images/jumping-horse-in-a-shield.png" width="60" height="50" alt="logos"></li>
                    <li>@Html.ActionLink("Home", "Index", "ProductionManager")</li>
                    <li>@Html.ActionLink("Orders", "Index", "Order")</li>
                    <li>@Html.ActionLink("Inventory", "ShowInventory", "Order")</li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-facebook"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-twitter"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-google-plus"></i></a></li>
                    <li class="nav-item"><a href="#" class="nav-link"><i class="fa fa-pinterest-p"></i></a></li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -CapStone</p>
        </footer>
    </div>
    <div class="container">
        <div class="box rotate"></div>
    </div>
    <style>
        .box {
            margin: 50px auto;
            background: #5FCF80;
            width: 150px;
            height: 150px;
        }

            .box:hover {
                transform: rotate(360deg);
                background: #9351A6;
                border-radius: 50%;
            }

        .rotate {
            transition: all 0.5s ease-in-out;
        }

            .rotate:hover {
                transition: all 1s ease-in-out;
            }
    </style>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>