@model SoloCapstone.Models.Order


@{
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DueDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderConfirmationNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderConfirmationNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CurrentlyWorkingOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CurrentlyWorkingOn)
        </dd>


    </dl>
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.OrderStatus%"></div>
    </div>
</div>
<p>
    @Html.ActionLink("Materials For Work Order", "OrderMaterials", new { id = Model.OrderId })
</p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
