@model IEnumerable<SoloCapstone.Models.Order>


@{
    Layout = "~/Views/Shared/_LayoutLogIn.cshtml";
}
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container" ng-app="SoloCapstone" ng-controller="mainController">
    <div class="alert alert-info">
            <h2>Manage <b>Orders</b></h2>    
    </div>
    <form>
        <div class="form-group">
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-search"></i></div>
                <input type="text" class="form-control" placeholder="Search Work Order" ng-model="searchInventory">
            </div>
        </div>
    </form>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <td>
                    <a href="#" ng-click="sortType = 'DueDate'; sortReverse = !sortReverse">
                        Due Date
                        <span ng-show="sortType == 'Due Date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Due Date' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'OrderConfirmationNumber'; sortReverse = !sortReverse">
                        Order Confirmation Number
                        <span ng-show="sortType == 'Order Confirmation Number' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Order Confirmation Number' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td>
                    <a href="#" ng-click="sortType = 'CustomerName'; sortReverse = !sortReverse">
                        Customer Name
                        <span ng-show="sortType == 'Customer Name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'Customer Name' && sortReverse" class="fa fa-caret-up"></span>
                    </a>
                </td>
                <td><a data-ng-href="@Url.Action("Create", "Order")" ,i class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Add">add</i></a></td>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="aOrder in orders | orderBy:sortType:sortReverse | filter:searchInventory">
                <td>{{ aOrder.DueDate| mydate | date: 'yyyy-MM-dd ' }}</td>
                <td>{{ aOrder.OrderConfirmationNumber }}</td>
                <td>{{ aOrder.CustomerName }}</td>
                <td>
                    <a data-ng-href="@Url.Action("Edit", "Order")/{{aOrder.OrderId}}" ,i class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                    <a data-ng-href="@Url.Action("Delete", "Order")/{{aOrder.OrderId}}" , class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                    <a data-ng-href="@Url.Action("Details", "Order")/{{aOrder.OrderId}}" , class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Details">more_horiz</i></a>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="clearfix">
        <div class="hint-text">Showing <b>5</b> out of <b>25</b> orders</div>
        <ul class="pagination">
            <li class="page-item disabled"><a href="#">Previous</a></li>
            <li class="page-item"><a href="#" class="page-link">1</a></li>
            <li class="page-item"><a href="#" class="page-link">2</a></li>
            <li class="page-item active"><a href="#" class="page-link">3</a></li>
            <li class="page-item"><a href="#" class="page-link">4</a></li>
            <li class="page-item"><a href="#" class="page-link">5</a></li>
            <li class="page-item"><a href="#" class="page-link">Next</a></li>
        </ul>
    </div>
</div>
@section scripts
    {
    <script src="~/Scripts/angular.js"></script>
    <script>
        var app = angular.module('SoloCapstone', []);
        app.controller("mainController",function ($scope, $http) {
            $http.get('@Url.Action("GetAllOrders", "Order")')
                .then(successCallback, errorCallback);

            function successCallback(data) {
                $scope.orders = {};
                $scope.orders = data.data;
            };
            function errorCallback(error) {
                //error code
            };
        });
        app.filter("mydate", function () {
            var re = /\/Date\(([0-9]*)\)\//;
            return function (x) {
                var m = x.match(re);
                if (m) return new Date(parseInt(m[1]));
                else return null;
            };
            app.filter("mydate", function () {
                var re = /\/Date\(([0-9]*)\)\//;
                return function (x) {
                    var m = x.match(re);
                    if (m) return new Date(parseInt(m[1]));
                    else return null;
                };
            });
        });

    </script>
}
<style>
    .pagination {
        float: right;
        margin: 0 0 5px;
    }

        .pagination li a {
            border: none;
            font-size: 13px;
            min-width: 30px;
            min-height: 30px;
            color: #999;
            margin: 0 2px;
            line-height: 30px;
            border-radius: 2px !important;
            text-align: center;
            padding: 0 6px;
        }

            .pagination li a:hover {
                color: #666;
            }

        .pagination li.active a, .pagination li.active a.page-link {
            background: #03A9F4;
        }

            .pagination li.active a:hover {
                background: #0397d6;
            }

        .pagination li.disabled i {
            color: #ccc;
        }

        .pagination li i {
            font-size: 16px;
            padding-top: 6px
        }

    .hint-text {
        float: left;
        margin-top: 10px;
        font-size: 13px;
    }
</style>


