@model IEnumerable<SoloCapstone.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>

</p>
@if (ViewContext.HttpContext.User.IsInRole("ProductionManager"))
{
    @Html.ActionLink("Create New", "Create")
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderConfirmationNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DueDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderConfirmationNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerName)
            </td>
            <td>
                @if (ViewContext.HttpContext.User.IsInRole("ProductionManager"))
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.OrderId })
                }
                @Html.ActionLink("Edit", "Edit", new { id = item.OrderId }) |
                @Html.ActionLink("Details", "Details", new { id = item.OrderId }) |

            </td>
        </tr>
    }

</table>
