@model IEnumerable<SoloCapstone.Models.CoaxialCable>

@{
    ViewBag.Title = "OrderMaterials";
}

<h2>Order Materials</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PartName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AWG)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Impedance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CableQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConnecterQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HeatShrinkQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PartName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AWG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Impedance)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CableQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConnecterQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HeatShrinkQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PartId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PartId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PartId })
            </td>
        </tr>
    }

</table>
@Html.ActionLink("Back to List", "Index")
